#! /bin/bash
export SABNZBD_ENABLED={{ .Env.SABNZBD_ENABLED }}
export SABNZBD_HOME={{ .Env.SABNZBD_HOME }}
export SABNZBD_DOWNLOAD_DIR={{ .Env.SABNZBD_DOWNLOAD_DIR }}
export SABNZBD_INCOMPLETE_DIR={{ .Env.SABNZBD_INCOMPLETE_DIR }}
export SABNZBD_COMPLETE_DIR={{ .Env.SABNZBD_COMPLETE_DIR }}
export SABNZBD_WATCH_DIR={{ .Env.SABNZBD_WATCH_DIR }}
export SABNZBD_NZB_BAK={{ .Env.SABNZBD_NZB_BAK }}
export SABNZBD_NZB_SCRIPTS={{ .Env.SABNZBD_NZB_SCRIPTS }}
